div > h3 {
  color: #999999;
  font-weight: bolder;
}

.background {
  background: #eeeeee;
}

.product-h3 {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
}

div > h3 {
  width: 30%;
  display: flex;
  justify-content: center;
}

#products-list {
  background: #fff;
  width: 80%;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.cards {
  width: 95%;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.align-products {
  width: 100%;
  display: flex;
}

/* .align-img {
  display: flex;
  justify-content: flex-end;
} */

.name-price {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.name-product {
  margin: 0;
}

.price-product {
  margin: 30px 0 0 0;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
}


